/* event page */


.event_name
{
	font-size: 2.5em;
	padding-top: 10px;
	padding-bottom: 5px;
}

.event_location_box
{
	float:right;
	width: 500px;
	border: #ccc 1px solid;
	margin: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

.event_location_box h2
{
	padding: 10px;
	font-weight: bold;
	font-size: 1.2em;
}

.event_location_box .event_loc_name
{
	padding: 0 10px;
	font-weight: bold;
}

.event_location_box .event_address
{
	padding: 0 10px;
	color: #444;
	padding-bottom: 10px;
}

.event_location_box .map_links
{
	padding: 10px;
	font-size: .9em;
}
