/* event page */


.event_name
{
	font-size: 1.3em;
	padding-top: 10px;
	padding-bottom: 5px;
    margin-bottom: 8px;
	font-weight: bold;
    border-bottom: #ddd 1px solid;
}

a
{
	color: #069;
	text-decoration: underline;
}

#event_page_content table th
{
	color: #777;
}

#event_page_content table td
{
	color: #000;
}

#event_page_content table td, #event_page_content table th
{
	padding: 3px 5px;
	vertical-align: top;
}

#event_map_container
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.event_page_map_links
{
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-top: #ddd 1px solid;
}
