/* form styling */

.form_section h2
{
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	border-bottom: #ccc 1px solid;
	margin-bottom: 10px;
}

.form_section
{
	border: #ddd 1px solid;
	padding: 5px;
	margin: 10px 0;
	background: #fff;
}

.form_section p
{
	padding: 5px;
	color: #333;
}

.form_section label
{
	display: block;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 3px;
}
/*added by chase*/
.form_section .checkbox label
{
	display: inline;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-top: 3px;
}
.form_section .checkbox 
{
	padding: 5px;
}
/*end chase*/

.form_section .textfield
{
	width: 200px;
	font-size: 1.3em;
	font-family: "Times New Roman", Times, serif;
	padding: 3px;
	margin: 2px;
}

.form_section .textfield_long
{
	width: 500px;
	font-size: 1.3em;
	font-family: "Times New Roman", Times, serif;
	padding: 3px;
	margin: 2px;
}

.form_section .description_textarea
{
	width: 500px;
	height: 100px;
	padding: 3px;
	margin: 2px;
	font-family: "Times New Roman", Times, serif;
}

.form_section p.form_tip
{
	padding: 5px;
	color: #666;
}

.empty_preview
{
	padding: 10px;
	color: #999;
	font-size: 2em;
}

form label.error
{
	color: #900;
	font-weight: normal;
	display: inline;
}

.checkbox_list
{
}

strong
{
	font-weight: bold;
}

.checkbox_list li
{
	padding: 5px;
}

/* map stuff */

#map_overlay
{
	display: none;
	position: fixed;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 10px;
	-moz-border-radius: 10px;
	top: 50px;
	left: 50px;
	bottom: 50px;
	right: 50px;
	z-index: 1000;
}

#map_overlay .form_section
{
	position: fixed;
	top: 60px;
	left: 60px;
	bottom: 60px;
	right: 60px;
	margin: 0;
}

#map_overlay #map_wrapper
{
	position: fixed;
	top: 110px;
	left: 66px;
	right: 66px;
	bottom: 120px;
}

#map_overlay #map_container
{
	width: 100%;
	height: 100%;
}

#below_map
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 57px;
}

#bm_right
{
	float: right;
	padding: 5px;
}

#bm_left
{
	float: left;
	padding: 5px;
}

.gmaps_popup_message
{
	padding: 5px;
	padding-right: 15px;
}

.gmaps_popup_message strong
{
	font-weight: bold;
}

.gpm_buttons
{
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #ccc;
}
