@charset "utf-8";
/* CSS Document */

/* RESET */
table { border-collapse: collapse; border-spacing: 0; }
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	min-width: 960px;
}

small
{
	font-size: 16px;
}

.sql_dump
{
	margin-top: 100px;
	color: #777;
}

a
{
	color: #069;
	text-decoration: underline;
}



.clear
{
	clear: both;
}

#universal_header
{
	background: url(grad_shadow/top_header.png) repeat-x top center;
	color: #fff;
	padding: 5px;
	height: 35px;
}

#uh_left
{
	float: left;
}

#uh_right
{
	float: right;
}

.uh_logo
{
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-size: 1.1em;
	text-decoration: none;
	padding-left: 20px;
}

#universal_header a
{
	color: #fff;
}

.general_link
{
	font-size: .9em;
	color: #444;
	padding-left: 5px;
	text-decoration: none;
}

#conference_header
{
}

#ch_left
{
	float: left;
	padding: 10px;
}

#chl_organization
{
	font-size: 1.2em;
}

#chl_title
{
	font-size: 2em;
}

#chl_location
{
}

#ch_right
{
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
}

.curr_time_large
{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 1.2em;
}

.mini_event_stream_horizontal
{
	background: #999;
	overflow: hidden;	
}

#mes_header
{
	float: left;
}

.mes_item
{
	float: left;
}

#main_tabs
{
	border-bottom: #666 1px solid;
	padding-left: 30px;
	padding-top: 10px;
	background: url(grad_shadow/tab_bg.png) repeat-x bottom;
}

.mt_tab
{
	
}

.mt_tab a
{
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 1.2em;
	float: left;
	padding: 5px 8px;
	border: 1px solid #aaa;
	border-bottom: none;
	background: #fff;
	margin-right: 7px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	position: relative;
	bottom: -1px;
}

.mt_tab a.active
{
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 1.2em;
	float: left;
	padding: 5px 8px;
	border-color: #666;
	position: relative;
	border-bottom: #fff 1px solid;
}



/*event blocks*/
.event_block
{
	background: #fff;
	border: 1px solid #ccc;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 5px 5px 0;
	border-radius: 5px;
	-moz-border-radius:  5px;
	overflow: hidden;
	font-size: 1em;
	overflow: hidden;
	padding: 7px;
}

.event_block .event_title
{
	font-size: 1.3em;
}

.event_block .event_top_row
{
	border-bottom: #ccc 1px solid;
	padding-bottom: 3px;
	margin-bottom: 3px;
}

.hiddenid
{
	display: none;
}

.small_icon_inline_button
{
	height: 1.2em;
	width: 1.2em;
	vertical-align: middle;
	position: relative;
	bottom: 2px;
	padding-right: 5px;
}

.td .tdi_text
{
	font-size: 1.3em;
	width: 40px;
}

.make_button
{
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	border: #999 1px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 3px;
}

.info_page
{
	width: 900px;
	margin: 20px auto;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 10px;
	padding: 10px;
	-moz-border-radius: 10px;
}

.info_page h1
{
	font-size: 2em;
}

.subtitle
{
	font-style: italic;
}

.hr
{
	margin: 8px 0;
	border-bottom: 1px solid #ccc;
}

.front_page_list
{
	color: #333;
	padding: 5px;
}

.fpl_item
{
	padding: 10px;
	font-weight: bold;
}

.front_page_sublist
{
	padding-left: 10px;
}

.front_page_sublist li
{
	list-style: disc;
	font-weight: normal;
}
