/* timeline */

h1#conference_title
{
	display: block;
	font-size: 1.5em;
	
}

#tl_navigation
{
	padding: 10px;
}

.make_button
{
	cursor: pointer;
}

.make_button label
{
	cursor: pointer;
}

.make_button img
{
	cursor: pointer;
}

.make_button span
{
	cursor: pointer;
}

#toolbar_small_shadow
{
	background: url(grad_shadow/toolbar_shadow.png);
	position: absolute;
	height: 8px;
	bottom: -8px;
	left: 0;
	width: 100%;
}

#breadcrumb
{
	float: left;
	padding: 6px 10px;
	font-size: .8em;
}

#scroll
{
	z-index: 9000;
}

#scroll .form_label
{
	position: absolute;
	left: -9000px;
}

.filter_icon
{
	position: relative;
	margin: -5px 0;
	height: 1.2em;
	width: 1.2em;
}

#subgroups
{
	padding: 10px;
}

#tl_navigation .nav_title
{
	font-size: .8em;
	padding-bottom: 3px;
}

#tl_navigation .nav_links
{
	font-size: 1.2em;
	font-weight: bold;
}

#s_left
{
}

#s_right
{
	display: none;
}

.ajax_event_list
{
	margin: 20px;
}

#my_schedule
{
	border-left: #ccc solid 1px;
}

.tl_head
{
	padding: 3px;
}

.tl_head_title
{
	font-size: 1.3em;
}

.tl_head_subt
{
	font-size: .8em;
	color: #333;
}



.padded_grid td
{
	padding: 10px 10px 0 0px;
}

.head_float_group
{
	float: left;
	margin: 0 10px 5px 0;
	padding: 5px;
}

.head_float_group_box
{
	float: left;
	margin: 0 10px 5px 0;
	padding: 5px 10px;
}

.textinput
{
	background: #fff;
	padding: 3px;
	border: #999 1px solid;
	width: 120px;
	margin-right: 5px;
}

#searchBox
{
}

select
{
background: #fff;
	border: #999 1px solid;
}

.checkbox_container
{
	padding: 3px;
}

.mys_cell
{
	display: none;
}

.timeslot_title
{
	width: 90px;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: top;
}

.mys_timeslot
{
	padding: 0 10px;
}

.previous_events_button
{
	display: block;
	padding: 4px;
	border: #ccc 1px solid;
	float: left;
	margin-bottom: 10px;
}

#filters_box
{
	border: #ccc 1px solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 5px;
	background: #eee;
}

#mys_head
{
	padding: 10px;
}

.event_block_empty
{
	height: auto;
	width: 260px;
	background: #fff;
	border: 1px solid #777;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 5px 5px 0;
	float: left;
	border-radius: 5px 5px 0 0;
	-moz-border-radius:  5px 5px 0 0;
	overflow: hidden;
	font-size: 1em;
	overflow: hidden;
}

.event_block_empty h1
{
	padding: 5px;
	font-size: 1.6em;
}

.event_block_empty p
{
	padding: 5px;
}

.mys_acceptor #help_box
{
	display: none;
}

#drop_here
{
	display: none;
	padding: 10px;
}

#drop_here h1
{
	font-size: 1.6em;
}

.mys_acceptor #drop_here
{
	display: block;
}

.mys_hover
{
	background: #6FF;
}

.floating_box
{
	position: fixed;
	top: 10px;
}

#time_dialog
{
	display: none;
}

#which_day_container
{
	padding: 10px;
	border-bottom: #ccc 1px solid;
}	

#which_day_is_it
{
	font-size: 1.5em;
	padding-right: 10px;
	position: relative;
	top: 5px;
}

.day_floating_box
{
	position: fixed;
	top: 9px;
	background: #fff;
	border: 1px #aaa solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	z-index: 1000;
	height: auto;
	padding: 5px;
}

#which_day_container
{
	height: 37px;
	
}

.which_day_spacer
{
	height: 37px;
}

/*
Chase's additions
*/
.onCalendar
{
	border-color: #000;
}

.no_results
{
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
-moz-border-radius: 5px;
margin: 10px;
}

.ajax_events
{
width: 100%;
}

.filter_section
{
	padding: 10px;
	float: left;
}

.filter_buttons
{
	padding: 8px;
	float: left;
}

.nav_title
{
}

/*ribbon! */

.button_large label
{
	font-size: 12px;
	padding-bottom: 4px;
}

.button_large img
{
	padding: 5px;
}

.button_large .r_down_arrow_container .ui-icon
{
	margin: -4px auto;
}

.button_large label
{
	display: block;
}

.button_small
{
	margin-bottom: 3px;
}

.button_small label
{
	font-size: 10px;
}

.button_small img, .r_mini_icon
{
	width: 12px;
	height: 12px;
	margin-bottom: -2px;
}

.button_small .r_down_arrow_container
{
	display: inline;
}

.button_small .r_down_arrow_container .ui-icon
{
	display: inline-block;
	margin: -4px;
	margin-left: 0;
}

.button_small label
{
	display: inline;
	padding-left: 3px;
}


.r_ribbon_box
{
	height: 100px;
	position: relative;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	border: none;
}

.r_priority_box
{
	padding: 5px;
	float: left;
}

.r_rb_title
{
	position: absolute;
	bottom: 1px;
	width: 100%;
	left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
}

.r_rb_right_bottom
{
	position: absolute;
	bottom: 1px;
	right: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
}

.r_rb_left_bottom
{
	position: absolute;
	bottom: 1px;
	left: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
}

.r_form_tip
{
	font-size: 9px;
	
}

.r_rb_form_row
{
	padding-bottom: 6px;
}

.r_rb_form_row label
{
	font-size: 12px;
}

input.text_input
{
	width: 300px;
}

select.input_text
{
	font-size: 12px;
}

.r_third_text_row
{
	font-size: 12px;
	padding: 5px 0;
}

.r_ribbon_box
{
border: 1px solid #ccc;
	border-style: none solid none none;
	
	padding: 0 9px;
}

#r_main_ribbon_container
{
	border-bottom: 1px solid #aaa;
	background-color: #fff;
}

.scheduletoggle
{
	font-size: 12px;
}

#scroll
{
	z-index: 9000;
	width: 100%;
	top: 0;
}

.yes_scroll
{
	position: fixed;
		background: #fff;
		z-index: 9000;
		width: 100%;
		top: 0;

	}

#top_spacer
{
	height: 120px;
	width: 100%;
}

/* MAPS */

#desktop_map_window
{
	position: relative;
	height: 400px;
	width: 100%;
	z-index: 0;
}

#desktop_map_container
{
	position: absolute;
	top: 0;
	right: 0;
	left: 300px;
	bottom: 0;
}

#desktop_map_event_list
{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#desktop_map_event_list h2
{
	border-bottom: 1px solid #ccc;
	padding: 5px;
	padding-top: 10px;
}

.map_search_result
{
	padding: 5px;
	padding-left: 40px;
	min-height: 40px;
	position: relative;
}
.msr_fav_icon
{
	height: 1.3em;
	width: 1.3em;
	position: relative:
	bottom: -1px;
	margin-bottom: -1px;
}

.map_search_result h3
{
	font-size: 1.1em;
}

.msr_icon
{
	position: absolute;
	left: 8px;
	top:3px;
}

.msr_time
{
	font-size: .9em;
	font-weight: bold;
}

.msr_desc
{
	font-size: .8em;
}


.gmaps_in_infowindow
{
	
}

.gmaps_in_infowindow h3
{
	font-weight: bold;
	padding-right: 18px;
}
#searcherr {
	color:red;
	display:none;
}
.event_tags {
	float:right;	
	margin: 4px 0 0 4px;
}

#map_container_div 
{
	position: absolute;
}
